body, html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  --bg: #fff;
  --text-color: #000;
  --button-background: #ffffffbf;
  --button-hover-background: #ffffffe6;
  --output-background: #000000bf;
  --previous-operand-color: #000000bf;
  --current-operand-color: #000;
}

body.dark-mode {
  --bg: #333;
  --text-color: #fff;
  --button-background: #323232bf;
  --button-hover-background: #323232e6;
  --output-background: #ffffffbf;
  --previous-operand-color: #ffffffbf;
  --current-operand-color: #fff;
}

body {
  background-color: var(--bg);
  color: var(--text-color);
  margin: 0;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat(5, 1fr);
  gap: 10px;
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

.output {
  background-color: var(--output-background);
  color: var(--text-color);
  grid-column: 1 / -1;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-operand, .current-operand {
  border: none;
  outline: none;
}

.previous-operand {
  color: var(--previous-operand-color);
  font-size: 1.5rem;
}

.current-operand {
  color: var(--current-operand-color);
  font-size: 2.5rem;
}

button {
  background-color: var(--button-background);
  border: 1px solid #fff;
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  padding: 10px;
}

button:hover {
  background-color: var(--button-hover-background);
}

.span-two {
  grid-column: span 2;
}

.theme-switch {
  align-items: center;
  display: flex;
  margin: 10px;
}

.theme-switch label {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.theme-switch input[type=checkbox] {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.theme-switch .theme-slider {
  background-color: #ccc;
  border-radius: 34px;
  height: 34px;
  position: relative;
  transition: background-color .3s;
  width: 60px;
}

.theme-switch .theme-slider:before {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 26px;
  position: absolute;
  transition: transform .3s;
  width: 26px;
}

.theme-switch input:checked + .theme-slider {
  background-color: #4caf50;
}

.theme-switch input:checked + .theme-slider:before {
  transform: translateX(26px);
}
